body{
background-image: url(../img/Фон.png);

}
.line hr {
    background-color: gray;
    border:none;
    width:100%;
    height: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
}

p{
    font-family: "Segoe UI Regular";
    font-size: 10.32pt;
    color: #ffffff;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
h6{
    font-size: 5.95pt;
    color: #e6362c;
}
.menu-bar{
    background-image: url(../img/Шапка/Фон.Шапка.png);
    background-position: center;
    padding: 20px 0;
    color: #ffffff;
    margin-bottom: -90px;
}

.menu__item1{
    margin-left: -30px;
}
.menu__item{
    margin-left: 30px;
}
.item2{
    margin-right: -50px;
}
.tel{
    font-family: "Segoe UI";
    font-size: 10.66pt;
    color: #ffffff;
}
.menu__item a,
.menu__item1 a{
    font-family: "Segoe UI";
    font-size: 9.12pt;
    color: #ffffff;
}
.lg a{
    font-family: "Segoe UI Regular";
    font-size: 9.12pt;
    color: #000000;
}
.tel:hover,
.menu__item a.current,
.menu__item a:hover{
    text-decoration: none;
    color: #e6362c;
}
.menu__item1 a:hover{
    text-decoration: none;
}

.header{
    padding-top: 10px;
    color: #ffffff;
    background-size: cover;
    background-position: 0 100%;
    background-image: url("../img/Слайдер/Фон.Вентилятор.png");
}
.header__title1{
    font-family: "Segoe UI Regular";
    font-size: 19.61pt;
    color: #ffffff;

}
.header__title2{
    font-family: "Segoe UI Black";
    font-size: 33.33pt;
    color: #ffffff;
}
.header_text1{
    margin-top: 280px;
}
.header__text2{
    margin-bottom: 10px;
}
.button{
    padding: 5px 20px;
    background: #e6362c;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-family: "Segoe UI Regular";
    font-size: 8.77pt;
    margin-bottom: 90px;
}
.button:hover{
    background: #ffffff;
    color: #e6362c;
}
.header_img{
    margin-bottom: 50px;
    margin-top: 60px;
}
.header_img2{
    text-align: center;
}
.header_img2 h1{
    font-family:"Segoe UI Black";
    font-size: 11.97pt;
    margin-top: 20px;
}
.section{
    background-position: 0 100%;
    font-family: "Segoe UI Regular";
    font-size: 17.61pt;
    color: #ffffff;
    text-align: center;
}
.section h1{
    margin-bottom: 50px;
}
.section p{
    font-family: "Segoe UI Regular";
    font-size: 10.6pt;
    color: #ffffff;
}
.section2{
    background-position: 0 100%;
    font-family: "Segoe UI Regular";
    font-size: 17.61pt;
    color: #ffffff;
    text-align: center;
}
.section2 h1{
    margin-bottom: 50px;
}

.section2_img:hover{
    opacity: 0.3;
}
footer{
   font-family: "Segoe UI Regular";
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: #4d4d4d;
    background-color: #000;
}
.nav_secondary {
    margin: 0 0 22px;
    width: 100%;
}

.nav_secondary ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.nav_secondary li {
    margin: 0 30px;
}

.nav_secondary a {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}


.nav_secondary a:hover {
    color: #e6362c;
}
.social_networks{
    margin: 20px 0;
}
.copyright{
    margin-bottom: 30px;
}
.page_up {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 14px;
    bottom: 54px;
    background-color: #e6362c;
    border-radius: 4px;
    color: transparent;
    text-decoration: none;
    z-index: 100;
}

.page_up:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -10px;
    width: 20px;
    height: 12px;

}
.fa-chevron-up{
    color: #ffffff;
    margin-left: 12px;
    margin-top: 12px;
}

li ul {
    position: absolute;
    display: none;
}
li a {
    display: block;
    border-bottom: none;
}

li:hover ul {
    display: block;
}
div.menu-bar1 ul ul {
    margin-top: 10px;
    padding-left: 5px;
    display: none;
    position:relative;
    width: 100%;
    background-color: #ffffff;

}

div.menu-bar1 li:hover > ul {
    display: block;
}
.section{
    background-image: url("../img/Продукція/Фон. Продукція 2.png");
    background-repeat: no-repeat;
    background-size:cover;

}

.categories_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.one_cat {
    width: 275px;
    padding: 0 10px;
}
.oc_overflow1 {
    overflow: hidden;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-image: url(../img/Продукція/електричний.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.oc_overflow2 {
    overflow: hidden;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-image: url(../img/Продукція/водяні.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.oc_overflow3 {
    overflow: hidden;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-image: url(../img/Продукція/повтряні.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.oc_overflow4 {
    overflow: hidden;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-image: url(../img/Продукція/камери.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.oc_txt {
    position:relative;
    bottom: 0;
    right: 0;
    left: 0;
    top: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9;
}

.oc_desc {
    font-size: 14px;
    line-height: 1.7;
    color: #fff;
}
.oct_title {
    display: table;
    width: 100%;
    float: none;
    margin: 0;
    text-align: center;
    padding: 0 20px;
}

.oct_title h3 {
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-family: 'Segoe UI Black';
    font-size: 19px;
    line-height: 1.2;
}

.oct_title h3:hover {
    color: #e6362c;
}


.one_cat:hover .oc_txt {
    top: 197px;
    bottom: auto;
    opacity: 0;
    visibility: hidden;
}

.oc_icon {
    margin: 0 0 24px;
}

.oc_hover {
   position: relative;
    right: 0;
    left: 0;
    top: 0;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 100;
    opacity: 0;
    visibility: hidden;

}

.oc_hover .oct_title {
    margin: 0 0 10px;
}

.oc_hover .oct_title h3 {
    font-size: 19px;
    letter-spacing: 0.05em;
}

.one_cat:hover .oc_hover {
    bottom: 0;
    top: 0;
    opacity: 1;
    visibility: visible;
}


.btn{
    padding: 8px 15px;
    background: #e6362c;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-family: "Segoe UI Regular";
    font-size: 8.77pt;
    margin-bottom: 80px;
}
.btn:hover{
    background: #ffffff;
    color: #e6362c;
}